{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "objectWrap": "collapse"
      }
    },
    {
      "files": "*.astro",
      "options": { "parser": "astro" },
      "excludeFiles": ["**/node_modules/**", "**/dist/**", "**/.obsidian/**"]
    }
  ],

  "checkIgnorePragma": false,
  "tailwindStylesheet": "./src/styles/global.css"
}
