@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cutive&family=Cutive+Mono&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tailwind-animations";
@import "rehype-callouts/theme/github";

@import "./tokens.css";
@import "./reset.css";
@import "./prose.css";

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  html {
    font-family: var(--font-sans);
  }

  .container {
    @apply mx-auto px-24;
  }
}
